@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
